<div class="employe-component">
  <div class="employe-header">
    <h2>Employee List</h2>
    <button class="add-button">Add Employee</button>
  </div>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Contact</th>
                <th>Email</th>
                <th>Department</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>John Doe</td>
                <td>1234567890</td>
                <td>johncom</td>
                <td>IT</td>
            </tr>
        </tbody>
    </table>
    <ul *ngIf="parentDepList && parentDepList.length > 0" style="background: red;">
        hi
        <li *ngFor="let item of parentDepList">
          {{ item?.departmentName }} 
        </li>
      </ul>
      
      
</div>