.employe-component{
    width: 100%;
    height: auto;
    display: block;
    padding: 0px;
}
.employe-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 10px;
}
h2{
    font-size: 24px;
    font-weight: 700;
    color: black;
}
button{
    padding: 20px;
    font-size: 20px;
    font-weight: 500;
    color: white;
    background: rgba(6, 6, 100, 0.5);
    box-shadow: 2px 1px 5px blue;
}
table {
    width: 100%;
    margin-top: 20px;
}
th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}
th {
    background-color: #f4f4f4;
}
.add-button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}
.add-button:hover {
    background-color: #218838;
}