<div class="employe-component">
  <div class="employe-header">
    <h2>Employee List</h2>
    <button class="add-button">Add Employee</button>
  </div>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Contact</th>
                <th>Email</th>
                <th>Department</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>John Doe</td>
                <td>1234567890</td>
                <td>johncom</td>
                <td>IT</td>
            </tr>
        </tbody>
    </table>

<div class="department-form">
  <select id="depId" [(ngModel)]="depId" (change)="onDepartmentChange()">
    <option selected>select parent depertment</option>

    @for(item of parentDepList; track $index){
      <option [value]="item.departmentId" >{{item.departmentName}} -{{item.departmentId}}</option>
    }

  </select>

  <select >
    <option>select child depertment</option>

    @for(item of childDepList; track $index){
      <option [value]="item.childDeptId" >{{item.departmentName}}</option>
    }

  </select>
</div>
    
      
      
</div>